h1
{
    font-size: 23px;
    font-weight: bold;
}

h1 ~ p
{
    font-size: 16px;
}


.cuerpo1
{
    border: 1px solid black;
    position: sticky;
    top: 0px;
    height: 4em;
    background-color: rgb(231, 197, 123);
    z-index: 1;
}



/*///////////////////////////////////////////////////////*/

.cuerpo2
{
    position: relative;
    border: 1px solid rgb(161, 155, 155);
    margin-top: 1em;
    height: 30em;
    background-image: url("molinos-generica24.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box; 
    /* padding-left: 8em;
    padding-top: 6em; */
    z-index: 0;
}

div#texto
{
    position: absolute;
    top:10%;
    left:8%;
    color: white;
    width: 36em;
    /* overflow: auto; */
}

/*/////////////////////////////////////////////////*/

.cuerpo3 
{
    margin-top: 3rem ;
    margin-bottom: 3rem ;	
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    /* overflow: auto; */
}

.caja
{
    position: relative;
    width: 25em; 
    height: 36em;	
    border: 3px solid rgb(161, 155, 155);
}


div.caja p , div.caja h1
{
    margin: 2em;
}


.imagen
{
    /* position: relative; */
    background-image: url('img_flwr.gif');
    width: 25em;
    /* min-width: 20em; */
    height: 30%;
    background-clip: padding-box; 
}
/*//////////////////////////////////////////////////*/

@media (max-width: 84em) /* la suma de las cajas + los margenes del cuerpo y el padding */
{
    .cuerpo3:last-child
    {
        justify-content: center; 
        /* padding-left: 2em; */
    }
    
}




